@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --width-desktop: 1440px;
    }

body {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width-desktop);
    font-family: 'Poppins', sans-serif;
    position: relative;
}
a {
    text-decoration: none;    
}

.logo{
    width: 80%;
}
.header_container{
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    
}
.header{
    width: 100%;
    height: 140px;
    
}

.div_info{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.menu_ul{
    display: flex;
    width: 80%;
    background: #5EBAD6;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-around;
    position: relative;
    /* transform: translateY(-980%); */
    left: 10%;
    box-shadow:  #8a8c8d;
}
.menu_li a{
    color: #fff;

}
.menu_li {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}
.contact{
    background-color: #3a6d7c;

}
.d-block{
    height: 600px;
}

/***************************** Gallery ****************************/

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #efefef;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 300px;
    padding: 15px;
    margin: 15px;
}

.imgContainer {
    width: 248px;
    height: 248px;
    border: 1px dashed #ccc;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    
    display: flex;
    align-items: center;
}

.imgContainer img {
    width: 100%;
}

.imgContainer img:nth-child(2) {
    position: absolute;
    top: -20%;
    left: 0;
    opacity: 0;
    transition: 0.5s all;
}

.imgContainer:hover img:nth-child(2) {
    opacity: 1;
    top: 0;
}

.rating {
    margin: 5px 0;
}

/* .rating img {
    height: 12px;
} */

.rating {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 35px;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 35px;
    color: #D3D3D3;
}

.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 35px;
    color: rgb(255, 153, 0);
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
    opacity: 1;
}


.title {
    font-weight: 500;
    color: #444;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
}

.title .subtitle {
    font-size: 16px;
}

.price {
    font-size: 22px;
    font-weight: 300;
    color: #444;
    font-family: "Poppins", sans-serif;
}

.quantity input {
    width: 40px;    
    border: none;
    border-bottom: 1px solid #555;
    outline: none;
    margin: 20px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}



.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
}

.buttonGroup button {
    border: 0;
    outline: 0;
    color: #fff;
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
}

.buy {
    background-color: #ff9f00;
    border-radius: 10px;
}

.addToCart {
    background-color: #fb641b;
    border-radius: 10px;
}

/***************************** Cart ****************************/

.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: #f0ebeb;
    box-shadow: -10px 0 15px var(--light-gray);
}

.cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart_header {
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    position: relative;
}

.header_title span {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_header .close_btn {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cart_header .close_btn:hover {
    transform: scale(1.1);
}

/* Cart actions*/

